html {
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Fira Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Rubik', sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
}

.section-title {
    margin-bottom: 0;
}

.hr-style {
    border: 5px dotted white;
    border-bottom: none;
    width: 150px;
    margin: auto;
}

/* Header Section */

header {
    background-image: url('/images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.banner-container {
    height: 100vh;
}

.navbar {
    padding: 1% 10%;
    background-color: rgba(0, 0, 0, .3);
}

.navbar-icon {
    color: white;
}

.nav-link {
    color: white;
    margin: 10px;
    border-radius: 5px;
    transition: .4s;
}

.nav-link:hover {
    background-color: rgba(113, 115, 244, 0.434);
    color: white;
    transform: scale(1.1);
}


#logo-txt {
    font-family: 'Caveat', cursive;
    font-size: 1.3rem;
    text-decoration: underline;
}

.logo-image {
    width: 80px;
    height: auto;
}

.banner-content h1 {
    font-size: 3.5rem;
    font-family: 'Caveat', cursive;
    background-color: rgba(7, 101, 168, 0.6);
    padding: 10px 20px;
    border-radius: 5px;
}

/* Feature section */

#feature {
    padding: 5% 10%;
    background: #3D30A2;
    color: white;
}

.features-col {
    border: 2px solid rgb(112, 98, 220);
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px 0;
    transition: .4s;
}

.features-col:hover {
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}

.icon-style {
    background-color: rgb(224, 6, 129);
    padding: 15px;
    margin: 5px 0;
}

/* About Me section */

#about-me {
    padding: 4% 10%;
    background: #4a3cb9;
    color: white;
}

.basic-desc p {
    font-size: 0.9rem;
    margin-bottom: 0;
    font-weight: lighter;
}
.basic-desc a {
    font-size: 0.9rem;
    color: black;
    font-weight: lighter;
}

.achive-desc p{
    font-size: 0.9rem;
    font-weight: lighter;
}

.skill-table {
    font-size: 0.9rem;
    font-weight: lighter;
}

.star {
    width: 20px !important;
}

/* Tutorial Section */

#tutorial {
    padding: 4% 10%;
    background-color: #B15EFF;
}

.card-col:hover {
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}

/* Feedback Section */

#feedback {
    padding: 4% 10%;
    background-color: #FFA33C;
}

.carousel-item {
    padding: 5% 15%;
    text-align: center;
}

.carousel-item p {
    font-style: italic;
}

.carousel-indicators {
    bottom: -20px;
}

.carousel-item img {
    width: 150px;
    height: auto;
}

/* Contact Us section  */

#contact-us {
    padding: 4% 10%;
    background-color: #FFFB73;
}

.form-group label {
    margin-bottom: 0;
    font-weight: bold;
}

#message {
    resize: none;
}

/* Footer Section */

footer {
    padding: 1% 10%;
    background-color: #3D30A2;
}

footer a {
    text-decoration: none;
    margin-right: 20px;
    color: white;
}

footer a:hover {
    color: black;
}